GROQ_API_KEY=<GROQ_API_KEY>
GROQ_MODEL_NAME=<GROQ_MODEL_NAME>

LANGCHAIN_TRACING_V2="true"
LANGCHAIN_API_KEY=<LANGCHAIN_API_KEY>
LANGCHAIN_PROJECT="AIOPS - Chapter <chapter_number>"

POSTGRES_HOST="postgres"
POSTGRES_PORT="5432"
POSTGRES_DB="agent_checkpoints"
POSTGRES_USER="agent_user"
POSTGRES_PASSWORD="agent_password"